---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4" title="About me">
  <p class="text-sm font-light">
    Enthusiastic about systems and a Linux lover, I occasionally dive into
    programming in low-level languages like C and Rust. My fascination lies in
    understanding how things work from the inside.
  </p>
  <div class="flex flex-col gap-2">
    <p>Programming Languages</p>
    <ul class="list-disc list-inside">
      <li role="link">TypeScript</li>
      <li role="link">Java</li>
      <li role="link">GO</li>
      <li role="link">Python</li>
    </ul>
    <p>Tools</p>
    <ul class="list-disc list-inside">
      <li role="link">Nestjs</li>
      <li role="link">SpringBoot</li>
      <li role="link">Gin</li>
      <li role="link">FastApi</li>
      <li role="link">Docker</li>
      <li role="link">PostgreSQL</li>
      <li role="link">Linux</li>
      <li role="link">Nextjs</li>
      <li role="link">Reactjs</li>
    </ul>
  </div>
</Card>
